body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.page{
  margin-top:150px;
  margin-left:100px;
  margin-right:100px;
}

section{
  margin-bottom:50px;
}

h1{
  color:#c49b1e;
  font-family:  Helvetica,Verdana;
  font-size:20px;
}

header {
  width: 100%;
  max-height:100px;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  transition: 0.4s;
  background: #0a0a23;
  overflow: hidden;
}
header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%; 
  width: 100%;
  background: #ffffff;
  border-top-left-radius: 50% 20%; 
  border-top-right-radius: 50% 20%; 
  user-select: none;
}
.title{
  display:flex;
  align-items: center;
  gap:5px;
}

nav > ul {
  display: flex;
  /*float: left;*/
}

nav > ul > li {
  font-family: Helvetica, Verdana;
  color: #c49b1e;
  margin: 2rem;
  display: block;
}

nav > ul > li:hover {
  cursor: pointer;
  color:white;
}

li a {
  color: inherit;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 60px;
  background: #0a0a23;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer:after{
  content: '';
  width: 100%;border-bottom-left-radius: 30% 2%; 
  border-bottom-right-radius: 30% 2%; 
  user-select: none;

}

form{
  margin-top:100px;
  text-align:center;
}

h2{
  font-weight:bold;
}

#email{
  border-style: solid;
  border-width: 2px;
  border-color: #c49b1e;
  border-radius:3px;
  margin-bottom: 10px;
  height:30px;
  width:300px;
  cursor:auto;
}

#submit{
  border-style: solid;
  height:30px;
  width:300px;
  border-width: 2px;
  background-color: #c49b1e;
  border-radius:3px;
  margin-bottom: 10px;
}

#video{
  margin-left:30%;
  margin-right:30%;
  width:500px;
  height:300px;
}

ptc{
  color:white;
  text-align:right;
  position:absolute;
    bottom:10px;
    right:10px;
}
ptc:hover {
  cursor: pointer;
}
ptc a {
  color: inherit;
  text-decoration: none;
}

.priceboxes{
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  margin-left:16%;
  gap: 10px; 
  flex: 1;
}

.pricebox{
  height:250px;
  width:200px;
  border:2px solid #0a0a23;
}

h5{
  margin-top:0;
  color:#0a0a23;
  background-color:#c49b1e;
  width:100%;
  height:30px;
  font-size:21px;
  text-align:center;
  text-justify: auto;
}
.pricebox >p{
  text-align:center;
  font-weight: 500;
  font-size:12px;
  color:#0a0a23;
}
h4{
  text-align:center;
  padding-top:0;
  padding-bottom: 0;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
    font-family:Verdana;
  }
}
@media screen and (max-width: 860px) {
  nav >ul{
    padding: 3px 35% 30px !important;
  }
  nav > ul >li{
    display: none;
    
  }
  .page{
    margin-left: 1px;
    margin-right: 1px;
  }
  #video{
    margin-left:25%;
    margin-right:25%;
    width:250px;
    height:150px;
  }
  .priceboxes{
    align-items: center;
    margin-left: 1px;
  }
  .pricebox{
    height:300px;
  }
}
